/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #08349f;
  --ifm-color-primary-dark: #072f8f;
  --ifm-color-primary-darker: #072c87;
  --ifm-color-primary-darkest: #06246f;
  --ifm-color-primary-light: #0939af;
  --ifm-color-primary-lighter: #093cb7;
  --ifm-color-primary-lightest: #0a44cf;
  --ifm-code-font-size: 95%;
}

/* Change primary colours to lighter variant in dark mode */
html[data-theme='dark'] {
  --ifm-color-primary: #2663f4;
  --ifm-color-primary-dark: #0c50f2;
  --ifm-color-primary-darker: #0c4ce4;
  --ifm-color-primary-darkest: #0a3ebc;
  --ifm-color-primary-light: #4176f5;
  --ifm-color-primary-lighter: #4e80f6;
  --ifm-color-primary-lightest: #779df8;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.home-page-button-container {
  display: inline-block !important;
  margin: 0 0.5rem;
}

@media screen and (max-width: 996px) {
  .home-page-button-container {
    display: block !important;
    margin: 1rem 0;
  }
}
