/* default highlight colour is yellow */
.component-highlight.highlight-text {
    color: #f7b902;
}

/* lighter yellow in banner with blue background */
.hero .component-highlight.highlight-text {
    color: #f8cc46;
}

/* background highlighting mode uses lighter yellow by default */
.component-highlight.highlight-background {
    background-color: #f8cc46;
    color: #000;
}